# =========================
# CONFIGURAÇÕES SENSÍVEIS
# =========================
.env

# =========================
# LOGS E TEMPORÁRIOS
# =========================
*.log
tmp/
cache/

# =========================
# UPLOADS
# =========================
uploads/

# =========================
# EDITORES
# =========================
.vscode/
.idea/

# =========================
# SISTEMA OPERACIONAL
# =========================
.DS_Store
Thumbs.db

# =========================
# DEPENDÊNCIAS
# =========================
vendor/
node_modules/